* {
    margin: 0;
    padding: 0;
}

/* Banner Section */
.main-section {
    max-width: 1450px;
    margin: 0 auto;
    place-items: center;
}

.banner-section {
    width: 1170px;
    height: 500px;
    background-image: url(Images/banner-bg.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.banner-title {
    color: white;
    font-size: 64px;
}

.banner-content {
    height: 500px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.banner-content .banner-title {
    margin: 106px 287px 24px 287px;
}

.banner-content .banner-description {
    margin: 0px 247px 48px 247px;
    font-size: 16px;
    font-weight: normal;
}

.banner-content .input-section {
    margin: 0px 185px 106px 185px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.size {
    width: 174px;
    height: 52px;
    padding-left: 15px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(171, 169, 169);
}

.primary-btn {
    width: 174px;
    height: 52px;
    color: white;
    background-color: rgb(255, 84, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

/* Popular tour */
.popular-tours {
    width: 1170px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.popular-tours-title {
    font-size: 40px;
}

.first,
.last {
    margin: 24px auto;
    margin-right: 45px;
    line-height: 1.7;
    font-size: 16px;
    color: gray;
}

.tour-list {
    margin-left: 25px;
    margin-right: 45px;
    line-height: 1.7;
    color: gray;
}

.read-more-btn {
    margin-top: 25px;
}

/* Destination Section */
.destination {
    width: 1170px;
    text-align: center;
}

.destination .destination-title {
    font-size: 40px;
    margin-bottom: 24px;
}

.destination .destination-description {
    color: gray;
    line-height: 1.6;
    margin-bottom: 32px;
}

.destination .destination-image-content .first-row,
.destination .destination-image-content .second-row,
.destination .destination-image-content .third-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* Why choose us Section */
.choose-us {
    width: 1170px;
    text-align: center;
}

.choose-us .choose-us-title {
    font-size: 40px;
    margin-bottom: 24px;
    margin-top: 66px;
}

.choose-us .choose-us-description {
    color: gray;
    line-height: 1.6;
    margin-bottom: 32px;
}

.choose-us .choose-us-image-content .first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.hotel {
    width: 486px;
    height: 220px;
    padding: 32px 55px 32px 32px;
    background-color: rgb(255, 251, 247);
    border-radius: 10px;
    text-align: left;
    line-height: 1.6;
}

.hotel img,
.service img,
.price img {
    height: 64px;
    width: 64px;
}

.service {
    width: 486px;
    height: 220px;
    padding: 32px 55px 32px 32px;
    border-radius: 10px;
    text-align: left;
    background-color: rgb(244, 252, 254);
    line-height: 1.6;
}

.second-row {
    place-items: center;
    margin-bottom: 100px;
}

.price {
    width: 509px;
    height: 220px;
    padding: 32px 55px 32px 32px;
    border-radius: 10px;
    background-color: rgb(254, 245, 245);
    text-align: left;
    line-height: 1.6;
}

/* footer section styles */
.footer-section{
    width: 1440px;
    height: 502px;
    background-color:rgb(243, 243, 243) ;
    text-align: center;
}

.footer-section .brand{
    display: flex;
    justify-content: center;
    place-items: center;
}
.footer-section .brand h3{
    
    margin-top: 110px;
}
.footer-section .brand img{
    width: 46px;
    height: 40px;
    margin-right: 10px;
    margin-top: 110px;
}
.travel-word{
    color: rgb(255, 84, 0);
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links .social-link{
    display: flex;
}
.social-links .social-link li{
    list-style: none;
    background-color: black;
    margin: 10px;
    margin-bottom: 40px;
}
hr{
    margin: 0 auto;
    width: 872px;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {

    /* Banner Section */
    .main-section {
        max-width: 600px;
    }


    .banner-section {
        width: 335px;
        height: 483px;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
    }

    .banner-content {
        height: 480px;
        border-radius: 15px;
    }

    .banner-content .banner-title {
        margin: 32px 16px 8px 32px;
        font-size: 22px;
    }

    .banner-content .banner-description {
        margin: 0px 8px 32px 8px;
        font-size: 14px;
    }

    .banner-content .input-section {
        margin: 32px 24px 32px 24px;
        flex-direction: column;
    }

    .size {
        width: 255px;
        height: 52px;
        margin-bottom: 16px;
    }

    #where-go {
        width: 230px;
    }

    .primary-btn {
        width: 255px;
        height: 52px;
    }

    /* Popular tour section */
    .popular-tours {
        display: flex;
        flex-direction: column;
        width: 335px;
        margin: 24px auto;
    }

    .read-more-btn {
        margin-top: 0px;
        margin-bottom: 24px;
    }

    .popular-tours .image-content {
        width: 335px;
        height: 342px;
    }

    .popular-tours .image-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Destination section */
    .destination {
        width: 335px;
    }

    .destination .destination-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .destination .destination-description {
        color: gray;
        line-height: 1.6;
        margin-bottom: 16px;
    }

    .destination .destination-image-content .first-row,
    .destination .destination-image-content .second-row,
    .destination .destination-image-content .third-row {
        flex-direction: column;
        margin: 0px;
    }

    .destination .destination-image-content .first-row img,
    .destination .destination-image-content .second-row img,
    .destination .destination-image-content .third-row img {
        width: 100%;
        height: 176px;
        margin-bottom: 16px;
    }

    /* Why choose us Section */
    .choose-us {
        width: 335px;
    }

    .choose-us .choose-us-title {
        font-size: 20px;
        margin-bottom: 16px;
        margin-top: 24px;
    }

    .choose-us .choose-us-description {
        margin-bottom: 16px;
    }

    .choose-us .choose-us-image-content .first-row {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .hotel,
    .service,
    .price {
        width: 263px;
        height: 220px;
        padding: 32px;
        text-align: justify;
        margin-bottom: 16px;
    }
    .price{
        margin-top: 0px;
    }

    .hotel img,
    .service img,
    .price img {
        height: 64px;
        width: 64px;
    }


    .second-row {
        place-items: center;
        margin-bottom: 24px;
    }

    /* footer section styles */
    .footer-section{
    width: 375px;
    height: 309px;
    margin: 0 auto;
}

.footer-section .brand{
    display: flex;
    justify-content: center;
    place-items: center;
}
.footer-section .brand h3{
    
    margin-top: 32px;
}
.footer-section .brand img{
    margin-top: 32px;
}

hr{
    width: 335px;
}


}